.App {
  margin: 20% 30%;
  font-size: 16px;
}

.details__form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
  border: 1px solid #5a5a5a;
  height: auto;
  width: 100%;
  padding: 48px 12px;
}

.details__name {
  width: calc(33%-12px);
  border: 1px solid #5a5a5a;
  height: 32px;
  padding: 4px 12px;
  margin-bottom: 48px;
}

.details__userdata {
  width: 45%;
  border: 1px solid #5a5a5a;
  height: 32px;
  padding: 4px 12px;
  margin-right: 4px;

}

.details__select {
  display: block;
  color: #5a5a5a;
  padding: 0.95em 0.5em;
  width: 45%;
  box-sizing: border-box;
  border: 1px solid #5a5a5a;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
}

.select-css::-ms-expand {
  display: none;
}

.details__submitbutton {
  width: 50%;
  margin-left: calc(50% + 32px);
  margin-top: 24px;
  height: 28px;
  border: 1px solid #5a5a5a;
  background-color: #027dee;
  border-radius: 2px;
  color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  font-size: 12px;
  letter-spacing: 0.5px;
}

@media (max-width: 768px) {
  .details__form {
    justify-content: space-around;
  }

  .details__name {
    width: 80%;
    margin-bottom: 20px;
  }

  .details__userdata {
    width: 80%;
    margin-bottom: 20px;
    margin-right: 0px;
  }

  .details__select {
    width: 90%;
    padding: 0.95em 0.4em;
  }

  .details__submitbutton {
    width: 90%;
    margin-left: 0px;
  }

}

@media (max-width: 375px) {
  .App {
    margin: 5%;
  }

  .details__form {
    justify-content: space-around;
  }
}